!!! 5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title MediaWiki Usage API
    %link{ :href => "http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&2.8.0r4/build/base/base-min.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body.yui-skin-sam
    #doc.yui-t7{ :style => "margin-top: 4em" }
      #hd
        %h1 MediaWiki Usage API Documentation

      #bd
        %h2
          %code GET /count?start=[UNIX Timestamp]&end=[UNIX Timestamp]
        %p
          Returns a JSON object with
          %code count
          as the key, and the actual count of all line changes as the value.

        %h2
          %code GET /editors?start=[UNIX Timestamp]&end=[UNIX Timestamp]
        %p
          Returns an array of JSON objects with editor usernames as the keys and line change counts as their values.

        %h2
          %code GET /pages?start=[UNIX Timestamp]&end=[UNIX Timestamp]
        %p
          Returns an array of JSON objects with page names as the keys and line change counts as the values.
      #ft
