%link{ :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
%script{ :type => "text/javascript", :src => "http://www.google.com/jsapi?key=ABQIAAAAQq8ASr0atQOJz2zYh_77lBS5dIQS8R5ClMHpRstIagkeEL2RLBR6MsDUyGcXpsvQxMsOIX4ArMM2UA" }
%script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
%script{ :type => "text/javascript", :src => "js/jquery-ui-1.7.2.custom.min.js" }
%script{ :type => "text/javascript", :src => "js/datejs.js" }
%script{ :type => "text/javascript", :src => "js/charts.js" }
#hd
  %h1 MediaWiki Charts

#bd
  #chart-options
    #chart-type-container
      %h2 Chart Type
      %ul#chart-type.selectors
        %li
          %a{ :href => "#bar"} Bar
        %li
          %a{ :href => "#column"} Column
        %li
          %a.selected{ :href => "#pie"} Pie
        %li
          %a{ :href => "#scatter"} Scatter
        %li
          %a{ :href => "#table"} Table

    #data-type-container
      %h2 Data Type
      %ul#data-type.selectors
        %li
          %a.selected{ :href => "#editors"} Editors
        %li
          %a{ :href => "#pages"} Pages

    #date-range-container
      %h2 Date Range
      %input.date#startTime
      %br
      %br
      %input.date#endTime

    %div.clear
  
  #visualization-container
    #visualization Loading chart...
  
#ft
