%link{ :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
%script{ :type => "text/javascript", :src => "http://www.google.com/jsapi?key=ABQIAAAAQq8ASr0atQOJz2zYh_77lBS5dIQS8R5ClMHpRstIagkeEL2RLBR6MsDUyGcXpsvQxMsOIX4ArMM2UA" }
%script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
%script{ :type => "text/javascript", :src => "js/jquery-ui-1.7.2.custom.min.js" }
%script{ :type => "text/javascript", :src => "js/datejs.js" }
%script{ :type => "text/javascript", :src => "js/charts.js" }
#hd
  %h1 MediaWiki Charts

#bd
  #chart-options
    %label{ :for => "chartType" } Chart Type:
    %select#chartType
      %option{ :value => "BarChart" } Bar
      %option{ :value => "ColumnChart" } Column
      %option{ :value => "PieChart", :selected => "selected" } Pie
      %option{ :value => "ScatterChart" } Scatter
      %option{ :value => "Table" } Table
  
    %label{ :for => "dataType" } Data:
    %select#dataType
      %option{ :value => "editors", :selected => "selected" } Editors
      %option{ :value => "pages" } Pages
  
    %label{ :for => "startTime" } Date Range:
    %input.date#startTime
    %label{ :for => "endTime" } to
    %input.date#endTime
    %button#run Run
  
  #visualization-container
    #visualization Loading chart...
  
#ft
