!!! 5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title MediaWiki Usage
    %link{ :href => "http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&2.8.0r4/build/base/base-min.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

  %body.yui-skin-sam
    #doc.yui-t7{ :style => "margin-top: 4em" }
      = yield